{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<h2 class="text-center">Summary of transaction</h2>
        <br/>

        <p class="text-center">The following actions were completed:</p>
        <ul>
        	<li>Customer account created with email: {{ customer.customerEmail }} for {{ customer.customerFname}} {{ customer.customerLname }}</li>
        	<li>Customer additional details saved</li>
        	<li>Saved subdomain: {{ customer_info.customerInfoDomain }}</li>
        	<li>Customer account charged ${{ charge }}</li>
        	<li>Download your Instance key <a href="{{ app.request.getBaseURL() }}/{{ saveKeyLocation }}">here</a></li>
        	<li>AWS EC2 instance, with ID: {{ instance.instanceAwsId }} and name: {{ instance.instanceAwsName }}, created and launched</li>
        </ul>
	</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}